.notification-container {
	padding: 1rem 2rem;
	transition: all 0.3s ease;
	position: fixed;
	left: 0;
	right: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	z-index: 100;
	width: 100%;

	@include mobile {
		padding: 0.5rem;
	}
}
